<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new Book</title>
</head>
<h1>Create a new book</h1>
<form th:action="@{/book/new}" method="post" th:object="${book}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"></td>
        </tr>
    </table>
    <input type="submit" value="Save this book">
</form>
<body>

</body>
</html>