<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all books</title>
</head>
<body>
<h1>Overview of all books</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:each="book : ${allBooks}">
        <td><a th:href="@{/book/id/{bookId}(bookId=${book.bookId})}" th:text="${book.bookId}"></a></td>
        <td><a th:href="@{/book/title/{bookTitle}(bookTitle=${book.title})}" th:text="${book.title}"></a></td>
        <td th:text="${book.author}"></td>
    </tr>
</table>
</body>
</html>